<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Użytkownika</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/sidebar :: sidebar}">
</div>
<div class="profile-main-wrapper">
    <div class="container-fluid">
        <div class="profile-main-content">
            <div class="profile-profile-details">
                <div class="profile-profile-header">
                    <div class="profile-avatar">
                        <img th:src="@{/files/{fileName}(fileName=${user.profilePictureFilename})}"
                             alt="Zdjecie profilowe">
                    </div>
                    <div class="profile-username" th:text="${'@' + user.userName}"></div>
                </div>
                <h4 class="title-main">Informacje o użytkowniku</h4>
                <div th:if="${success}" class="alert-box">
                    <div class="alert alert-success" th:text="${success}">
                    </div>
                </div>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Imię</label>
                        <input type="text" class="form-control" th:value="${user.firstName ?: 'brak danych'}" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nazwisko</label>
                        <input type="text" class="form-control" th:value="${user.lastName ?: 'brak danych'}" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" th:value="${user.email ?: 'brak danych'}" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Płeć</label>
                        <input type="text" class="form-control"
                               th:value="${user.gender ?: 'brak danych'}" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kraj</label>
                        <input type="text" class="form-control" th:value="${user.country ?: 'brak danych'}" disabled>
                    </div>
                    <th:block sec:authorize="isAuthenticated()">
                        <th:block th:if="${(#authentication.principal?.username) == user.userName}">
                            <a th:href="@{${#mvc.url('UC#updateInfo').build()}}" class="btn btn-primary">Zmień dane</a>
                            <a href="#" class="btn btn-outline-secondary ms-2">Zmień hasło</a>
                        </th:block>
                    </th:block>
                </form>

                <div class="row text-center mt-4">
                    <h6 class="title-main">Statystyki</h6>
                    <div class="col-md-4">
                        <div class="profile-stat-box profile-stat-wins">
                            <img th:src="@{/images/util/win.png}" alt="trophy"/>
                            <h6>Wygrane</h6>
                            <p th:text="${won ?: 0}"></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="profile-stat-box profile-stat-losses">
                            <img th:src="@{/images/util/lose.png}" alt="trophy" class="mt-2 mb-2"/>
                            <h6>Przegrane</h6>
                            <p th:text="${lost ?: 0}"></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="profile-stat-box profile-stat-draws">
                            <img th:src="@{/images/util/draw.png}" alt="trophy"/>
                            <h6>Remisy</h6>
                            <p th:text="${draw ?: 0}"></p>
                        </div>
                    </div>
                </div>

                <div class="profile-profile-stats mt-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="title-main">Ostatnie mecze</h5>
                        <a th:href="@{${'/users/history/' + user.userName}}" class="btn btn-outline-dark btn-sm">Zobacz
                            całą historię</a>
                    </div>
                    <div class="list-group profile-game-history mt-3">
                        <a th:each="game : ${recentGames}"
                           class="list-group-item d-flex justify-content-between align-items-center"
                           th:classappend="${game.winner == null ? 'game-history-draw' :
                            (game.winner?.userName.equals(user?.userName)
                             ? 'game-history-win' : 'game-history-loss')}"
                           th:href="@{${#mvc.url('GC#classic').arg(1, game.gameId).build()}}"
                        >
                            <img th:src="@{${game.winner == null ? '/images/util/draw.png' :
                 (game.winner?.userName.equals(user?.userName) ? '/images/util/win.png' : '/images/util/lose.png')}}"
                                 class="game-icon" alt="Crown">
                            <span>
                                <span class="white" th:text="${game.winner?.userName ?: 'anonimowy'}"></span>
                                vs
                                <span class="black" th:text="${game.black?.userName ?: 'anonimowy'}"></span>
                            </span>
                            <span th:text="${game.start}"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>