<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="vh-100">
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2">
            <div th:insert="~{fragments/sidebar :: sidebar}"></div>
        </div>
        <div class="ranking col-9">
            <div class="main-content">
                <div class="d-flex flex-column h-100">

                    <div class="top-section d-flex align-items-center">
                        <h1>RANKING</h1>
                    </div>

                    <div class="flex-grow-1 bg-table px-4 py-3">
                        <table class="table custom-table text-center mb-0">
                            <thead>
                            <tr>
                                <th>MIEJSCE</th>
                                <th>PSEUDONIM</th>
                                <th>RANKING</th>
                                <th>RODZAJ</th>
                                <th>RODZAJ</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, count : ${page.content}">
                                <td><strong th:text="${count.count}"></strong></td>
                                <td>
                                    <a th:href="@{/users/profile/{username}(username=${user.userName})}">
                                        <strong th:text="${user.userName}"></strong>
                                    </a>
                                </td>
                                <td th:text="${user.ranking}"></td>
                                <td>8765</td>
                                <td>9876</td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <ul class="pagination">
                                <li th:each="i : ${#numbers.sequence(start, end)}">
                                    <a th:href="@{${#mvc.url('RC#rankings').arg(1, i).arg(2, page.size).build()}}">
                                        <img th:if="${page.number} == ${i}"
                                             th:src="@{/images/B/paginationQueen.png}"
                                             class="chess-icon" alt="Hetman"/>
                                        <img th:if="${page.number} != ${i}"
                                             th:src="@{/images/B/paginationPawn.png}"
                                             class="chess-icon pawn" alt="Pionek"/>
                                        <span th:text="${i+1}" class="pagination-number"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>