<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Historia Gier</title>
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <link th:href="@{/css/gameHistory.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="~{fragments/sidebar :: sidebar}"></div>
<div class="game-history-main-container">
    <div class="game-history-top-content">

        <section class="game-history-section">
            <h1 class="game-history-title title-main" th:text="${ranking.name}"></h1>
            <a th:each="rankingPosition : ${page.content}"
                class="game-history-card-link">
                <div class="game-history-ranking-card" th:classappend="'game-history-ranking-card ' +
                        (${rankingPosition.position == 1} ? 'podium-first' :
                        (${rankingPosition.position == 2} ? 'podium-second' :
                        (${rankingPosition.position == 3} ? 'podium-third' : '')))">
                    <div class="game-history-ranking-entry">
                        <span class="game-history-ranking-position"
                              th:text="${rankingPosition.position} + '.'"></span>
                        <span class="game-history-ranking-username" th:text="${rankingPosition.user.userName}"></span>
                        <span class="game-history-ranking-points" th:text="${rankingPosition.points} + ' pts'"></span>
                    </div>
                </div>
            </a>
            <div class="game-history-pagination-wrapper">
                <ul class="game-history-pagination">
                    <li th:each="i : ${#numbers.sequence(start, end)}">
                        <a th:href="@{${#mvc.url('RC#allByRankingName').arg(1, ranking.name).arg(2, i).arg(3, page.size).build()}}">
                            <img th:if="${page.number} == ${i}"
                                 th:src="@{/images/B/paginationQueen.png}"
                                 class="game-history-chess-icon" alt="Hetman"/>
                            <img th:if="${page.number} != ${i}"
                                 th:src="@{/images/B/paginationPawn.png}"
                                 class="game-history-chess-icon" alt="Pionek"/>
                            <span th:text="${i+1}" class="game-history-pagination-number"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>

</body>
</html>
