<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div>
    <div class="container-fluid full-height">
        <div class="row h-100">

            <div class="col-2 d-flex flex-column">
                <div th:insert="~{fragments/sidebar :: sidebar}"></div>
            </div>
            <div class="col-9 d-flex flex-column p-0 admin-panel">
                <div th:if="${success}" class="alert alert-success alert-dismissible fade show mt-3 fixed-top"
                     role="alert">
                    <i class="bi bi-check-circle-fill"></i>
                    <span th:text="${success}">Użytkownicy zostali usunięci.</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Zamknij"></button>
                </div>
                <div class="top-section">
                    <div class="title-main text-center mb-4 mt-4">LISTA UŻYTKOWNIKÓW</div>
                </div>
                <div class="bottom-section">
                    <form method="POST" th:action="@{${#mvc.url('AC#deleteUsers').build()}}">
                        <table class="table admin-table text-center mb-0">
                            <thead>
                            <tr>
                                <th>PSEUDONIM</th>
                                <th>UPRAWNIENIA</th>
                                <th><input type="submit" value="USUŃ" class="delete-button"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, count : ${page.content}">
                                <td class="admin-table-userName">
                                    <strong th:text="${count.count}+'.'"></strong>
                                    <a th:href="@{/users/profile/{username}(username=${user.userName})}">
                                        <strong th:text="${user.userName}"></strong>
                                    </a>
                                </td>
                                <td th:text="${user.getRoles()[user.getRoles().size()-1].getName().split('_')[1]}"></td>
                                <td><input class="admin-table-delete form-check-input" name="userIds" type="checkbox"
                                           th:value="${user.id}"> <span class="custom-checkmark"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div>
                        <ul class="pagination">
                            <li th:each="i : ${#numbers.sequence(start, end)}">
                                <a th:href="@{${#mvc.url('AC#adminPanel').arg(1, i).arg(2, page.size).build()}}">
                                    <img th:if="${page.number} == ${i}"
                                         th:src="@{/images/B/paginationQueen.png}"
                                         class="chess-icon" alt="Hetman"/>
                                    <img th:if="${page.number} != ${i}"
                                         th:src="@{/images/B/paginationPawn.png}"
                                         class="chess-icon pawn" alt="Pionek"/>
                                    <span th:text="${i+1}" class="pagination-number"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>