<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Przegląd gier</title>
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <style>
        body {
            margin: 0;
            display: flex;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/sidebar :: sidebar}"></div>

<div class="game-panel-container">
    <a class="game-panel-btn-back"
       th:href="@{${(#mvc.url('AC#getProfile')).build()}}">← Powrót do panelu</a>
    <h1 class="game-panel-title-main">Przegląd gier</h1>

    <div class="game-panel-section">
        <h2><a th:href="@{${#mvc.url('AC#getLiveGames').build()}}">Aktualnie trwające partie 🟢</a></h2>
        <table class="game-panel-table">
            <thead>
            <tr>
                <th>Gracz Biały</th>
                <th>Gracz Czarny</th>
                <th>Status</th>
                <th>Czas trwania</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="live : ${liveGame}" class="clickable-row"
                th:attr="data-href=@{${#mvc.url('GC#classic').arg(1, live.gameId).build()}}">>
                <td th:text="${live.white?.userName ?: 'Anonimowy'}"></td>
                <td th:text="${live.black?.userName ?: 'Anonimowy'}"></td>
                <td><span class="game-panel-status game-panel-ongoing">Trwa</span></td>
                <td th:text="${time.minutesBetween(live.start)}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="game-panel-section">
        <h2><a th:href="${#mvc.url('AC#getEndedGames').build()}">Partie rozegrane</a></h2>
        <table class="game-panel-table">
            <thead>
            <tr>
                <th>Gracz Biały</th>
                <th>Gracz Czarny</th>
                <th>Zwycięzca</th>
                <th>Wynik</th>
                <th>Czas trwania</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ended : ${endedGames}" class="clickable-row"
                th:attr="data-href=@{${#mvc.url('GC#classic').arg(1, ended.gameId).build()}}">
                <td th:text="${ended.white?.userName ?: 'Anonimowy'}"></td>
                <td th:text="${ended.black?.userName ?: 'Anonimowy'}"></td>
                <td>
                    <span th:class="${ended.winner == null ? 'game-panel-draw' : 'game-panel-winner'}"
                          th:text="${ended.winner?.userName ?: 'Brak'}">
                    </span>
                </td>
                <td>
                    <span class="game-panel-score">
                        <th:block th:if="${ended.winner == null}">
                            0.5 - 0.5
                        </th:block>
                        <th:block th:if="${ended.winner != null}">
                            <th:block th:if="${ended.winner.userName.equals(ended.white.userName)}">
                                1 - 0
                            </th:block>
                            <th:block th:if="${ended.winner.userName.equals(ended.black.userName)}">
                                0 - 1
                            </th:block>
                        </th:block>
                    </span>
                </td>
                <td th:text="${time.minutesBetween(ended.start, ended.end)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="module" th:src="@{/js/clickableRow.js}"></script>
</html>
