<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Przegląd Gier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <link th:href="@{/css/gamePanel.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div th:insert="~{fragments/sidebar :: sidebar}"></div>

        <div class="col-md-10 p-4 main-content-ended">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="m-0 title-main">PRZEGLĄD GIER</h2>
                <a th:href="${#mvc.url('AC#getEndedGames').build()}" class="live-button">Partie rozegrane</a>
            </div>
            <div class="section-title">
                <div>
                    Aktualnie trwające partie
                    <span class="dot"></span>
                </div>
                <input type="text" class="form-control form-control-sm search-input" placeholder="Szukaj partii">
            </div>
            <div class="game-list">
                <a class="game-item justify-content-space-between"
                   th:href="${#mvc.url('GC#classic').arg(1, game.gameId).build()}"
                   th:each="game : ${page.content}">
                            <span>
                                <span class="white"
                                      th:text="${game.white?.userName ?: 'anonimowy'}"></span> vs
                                <span class="black"
                                      th:text="${game.black?.userName ?: 'anonimowy'}"></span>
                            </span>
                    <span th:text="${time.minutesBetween(game.start)}"></span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <ul class="pagination">
            <li th:each="i : ${#numbers.sequence(start, end)}">
                <a th:href="@{${#mvc.url('AC#getLiveGames').arg(1, i).arg(2, page.size).build()}}">
                    <img th:if="${page.number} == ${i}"
                         th:src="@{/images/B/paginationQueen.png}"
                         class="chess-icon" alt="Hetman"/>
                    <img th:if="${page.number} != ${i}"
                         th:src="@{/images/B/paginationPawn.png}"
                         class="chess-icon pawn" alt="Pionek"/>
                    <span th:text="${i+1}" class="pagination-number"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
