<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Przegląd Gier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <link th:href="@{/css/gamePanel.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

<!-- Sidebar -->
<div th:insert="~{fragments/sidebar :: sidebar}"></div>

<!-- Główna zawartość -->
<div class="main-content">
    <div class="container-fluid">
        <div class="title title-main">PRZEGLĄD GIER</div>

        <div class="row">
            <!-- Lewa kolumna -->
            <div class="col-md-6 mb-4">
                <a th:href="${#mvc.url('AC#getLiveGames').build()}" class="section-header">
                    Aktualnie trwające partie
                    <div class="live-dot"></div>
                </a>
                <div class="game-list">
                    <div class="game-item" th:if="${liveGame.size() == 0}">
                        Brak gier
                    </div>
                    <a class="game-item justify-content-space-between"
                       th:href="${#mvc.url('GC#classic').arg(1, live.gameId).build()}"
                       th:each="live : ${liveGame}">

                        <span>
                            <span class="white"
                                  th:text="${live.white?.userName ?: 'anonimowy'}"></span>
                            vs
                            <span class="black"
                                  th:text="${live.black?.userName ?: 'anonimowy'}">

                        </span>
                        </span>
                        <span th:text="${time.minutesBetween(live.start)}"></span>

                    </a>
                </div>
            </div>

            <!-- Prawa kolumna -->
            <div class="col-md-6 mb-4">
                <a th:href="${#mvc.url('AC#getEndedGames').build()}" class="section-header right">
                    <div>Partie rozegrane</div>
                </a>
                <div class="game-list right">
                    <a class="game-item justify-content-space-between"
                       th:href="${#mvc.url('GC#classic').arg(1, ended.gameId).build()}"
                       th:each="ended : ${endedGames}">
                            <span>
                                <span th:class="${ended.winner == null ? 'gray' :
                                (ended.winner.userName.equals(ended.white?.userName) ? 'green' : 'red')}"
                                      th:text="${ended.white?.userName ?: 'anonimowy'}"></span> vs
                                <span th:class="${ended.winner == null ? 'gray' :
                                (ended.winner.userName.equals(ended.black?.userName) ? 'green' : 'red')}"
                                      th:text="${ended.black?.userName ?: 'anonimowy'}"></span>
                            </span>
                        <span th:text="${time.minutesBetween(ended.start, ended.end)}"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
