<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <link th:href="@{/css/register.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
</head>
<body>

<div th:insert="~{fragments/sidebar :: sidebar}">

</div>

<div class="main">
    <div class="register-container">
        <img class="chess-icon" th:src="@{/images/index/chess_piece.png}" alt="chess-piece">
        <form th:action="@{/processRegistration}" method="post" th:object="${registerUser}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="register-form">
                <h1>REJESTRACJA</h1>
                <div th:if="${error}" class="alert-box">
                    <div class="alert alert-error">
                        <th:block th:each="e : ${error}">
                            <span th:text="${e}"></span> <br>
                        </th:block>
                    </div>
                </div>
                <div class="input-group">
                    <label for="login">LOGIN:</label>
                    <input type="text" id="login" th:field="*{userName}" placeholder="Wpisz login">
                </div>
                <div class="input-group">
                    <label for="password">HASŁO:</label>
                    <input type="password" id="password" th:field="*{password}" placeholder="Wpisz hasło">
                </div>
                <div class="input-group">
                    <label for="password2">POWTÓRZ:</label>
                    <input type="password" id="password2" th:field="*{password2}" placeholder="Powtórz hasło">
                </div>
                <p class="text-link">Masz już konto? <a th:href="@{${#mvc.url('LC#showMyLoginPage').build()}}">
                    Zaloguj się.</a></p>
                <button class="send-btn" type="submit">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
