<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Historia Gier</title>
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <link th:href="@{/css/gameHistory.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="~{fragments/sidebar :: sidebar}"></div>
<div class="game-history-main-container">
    <div class="game-history-top-content">

        <section class="game-history-section">
            <h1 class="game-history-title title-main">HISTORIA GIER</h1>

            <div class="game-history-filter-buttons">
                <button class="btn btn-outline-dark filter-btn">Wszystkie</button>
                <button class="btn btn-outline-success filter-btn">Wygrane</button>
                <button class="btn btn-outline-danger filter-btn">Przegrane</button>
                <button class="btn btn-outline-secondary filter-btn">Remisy</button>
            </div>
            <a th:each="game : ${page.content}" class="game-history-card-link"
               th:href="@{${#mvc.url('GC#classic').arg(1, game.gameId).build()}}">
                <div class="game-history-card" th:classappend="${game.winner == null ? 'game-history-draw' :
                 (game.winner?.userName.equals(user?.userName) ? 'game-history-win' : 'game-history-loss')}">
                    <div class="game-history-entry">
                        <img th:src="@{${game.winner == null ? '/images/util/draw.png' :
                 (game.winner?.userName.equals(user?.userName) ? '/images/util/win.png' : '/images/util/lose.png')}}"
                             class="game-icon" alt="Crown">
                        <span>
                    <span th:text="${game.white?.userName ?: 'anoniomowy'}"></span>
                    vs
                    <span th:text="${game.black?.userName ?: 'anoniomowy'}"></span>
                </span>
                    </div>
                    <span th:text="${game.start}"></span>
                </div>
            </a>


            <div class="game-history-pagination-wrapper">
                <ul class="game-history-pagination">
                    <li th:each="i : ${#numbers.sequence(start, end)}">
                        <a th:href="@{${'/users/history/' + user.userName + '?pageNum=' + i + '&pageSize=' + page.size}}">
                            <img th:if="${page.number} == ${i}"
                                 th:src="@{/images/B/paginationQueen.png}"
                                 class="game-history-chess-icon" alt="Hetman"/>
                            <img th:if="${page.number} != ${i}"
                                 th:src="@{/images/B/paginationPawn.png}"
                                 class="game-history-chess-icon" alt="Pionek"/>
                            <span th:text="${i+1}" class="game-history-pagination-number"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <aside class="game-history-filter-box">
            <h3>Filtruj gry</h3>
            <label for="gracz">Gracz:</label>
            <input type="text" id="gracz" placeholder="np. michal_adamczyk"/>

            <label for="sortuj">Sortuj:</label>
            <select id="sortuj">
                <option>Domyślnie</option>
                <option>Od najnowszych</option>
                <option>Od najstarszych</option>
            </select>

            <button>Zastosuj</button>
            <p>Pasujących wyników: 3</p>
        </aside>

    </div>
</div>

</body>
</html>
