<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/board_script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div id="chessboard">
    <div th:each="x, statx : ${board.board}" class="row">
        <div th:each="y, staty : ${x}" class="col">
            <div th:if="${statx.even}" >
                <p th:class="${staty.odd ? 'bg-success' : ''}"
                   th:text="${y != null ? y : '[]'}"
                   th:id="figure">

                </p>
            </div>
            <div th:if="${statx.odd}">
                <p th:class="${staty.even ? 'bg-success' : ''}"
                   th:text="${y != null ? y : '[]'}"
                   th:id="figure">
                </p>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>