<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby Szachowe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/sidebar :: sidebar}">

</div>
<div class="lobby-main-wrapper">
    <div class="container-fluid">
        <div class="lobby-main-content">

            <div class="lobby-profile-card">
                <a th:href="@{${user == null ? '/play' : ('/users/profile/' + user.userName)}}">
                    <div class="d-flex align-items-center profile-avatar">
                        <th:block th:if="${user?.profilePictureFilename == null || user?.profilePictureFilename.isEmpty()}">
                            <img th:src="@{/images/util/default-user.png}" alt="user">
                        </th:block>
                        <th:block th:if="${user?.profilePictureFilename != null}">
                            <img th:src="@{/files/{fileName}(fileName=${user.profilePictureFilename})}"
                                 alt="Zdjecie profilowe">
                        </th:block>
                        <div>
                            <h4 th:text="${'Witaj ' + (user?.userName ?: 'Guest')}"></h4>
                            <p>Twój ranking: <strong th:text="${user?.ranking ?: '0'}"></strong></p>
                        </div>
                    </div>
                    <div class="lobby-stats">
                        <div class="lobby-stat-box lobby-stat-wins">
                            <img th:src="@{/images/util/win.png}" alt="trophy"/>
                            <h6>Wygrane</h6>
                            <p th:text="${won ?: 0}"></p>
                        </div>
                        <div class="lobby-stat-box lobby-stat-losses">
                            <img th:src="@{/images/util/lose.png}" class="mb-1 mt-2" alt="trophy"/>
                            <h6>Przegrane</h6>
                            <p th:text="${lost ?: 0}"></p>
                        </div>
                        <div class="lobby-stat-box lobby-stat-draws">
                            <img th:src="@{/images/util/draw.png}" alt="trophy"/>
                            <h6>Remisy</h6>
                            <p th:text="${draw ?: 0}"></p>
                        </div>
                    </div>
                </a>
            </div>

            <h1 class="mb-4 title-main">Wybierz Tryb Rozgrywki</h1>
            <div class="row g-4">
                <div class="col-md-4" th:each="type : ${gameTypes}">
                    <div class="p-4 bg-white lobby-game-mode text-center"
                          th:id="${type.type}">
                        <img src="https://img.icons8.com/color/48/chessboard.png" th:alt="${type.type}">
                        <h4 th:text="${type.type}"></h4>
                        <p>Ograniczony czas:
                            <strong th:text="${type.timePerPlayer + ' min'}"></strong> na gracza.</p>
                        <p>Czas za ruch <strong th:text="${type.addPerMove} + 'sek'"></strong> </p>
                    </div>
                </div>
            </div>

            <!-- Animacja szukania gry -->
            <div id="searchingGame" class="lobby-searching-animation">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Szukam gry...</span>
                </div>
                <p class="mt-3">Szukam przeciwnika...</p>
                <p>Czas oczekiwania: <span id="searchTimer">0</span> sekund</p>
                <button class="btn btn-danger mt-2" id="cancel">Anuluj</button>
            </div>
        </div>
    </div>
</div>
<script type="module" th:src="@{/js/findGame.js}"></script>
</body>
</html>
